.wrap{
  width: 1280px;
  margin: 0 auto;
  font-size: 18px;
}
.index-top{
  height: 40px;
  line-height: 40px;
}
.index-mid{
  line-height: 24px;
}
.index-bot{
  line-height: 24px;
}
.top-icon{
  width: 20px;
  height: 20px;
  text-indent: -1000px;
  background: url("../img/ico.ico") no-repeat;
  background-size: 100% 100%;
}
