body,ul,li,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.wrap{
  width: 1280px;
  margin: 0 auto;
  font-size: 18px;
}
.index-top{
  height: 40px;
  line-height: 40px;
}
.index-mid{
  line-height: 24px;
}
.index-bot{
  line-height: 24px;
}